/* fonts */
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

/* vendor css */
@import '../vendor/css/material.css';
@import '../vendor/css/reset.css';
@import '../vendor/css/dialog-polyfill.css';

@import './icons.css';
@import './form.css';

:root {
  --main-color: #5D8E92;
  --secondary-color: #FC6E64;
  --body-background: #fffff2;
  --dark-color: #151E3F;
  --light-color: #FFFFFF;

  --mobile-breakpoint: 462px;

  --buttons-primary-background-color: #5D8E92;
  --buttons-primary-background-color-hover: #4d7679;
  --buttons-secondary-background-color: #FC6E64;

  --text-color: var(--dark-color);

  --default-size: 16px;
  --double-size: 32px;
  --half-size: 8px;
}

body {
  background: var(--body-background);
  color: var(--text-color);
}