<error-alert>
  <h1>Ops! Sorry an error occurred...</h1>
  <p class='error'>{props.error.message}</p>
  <p if={props.solution}><strong>{props.solution}</strong></p>

  <style>
    p.error {
      color: var(--error-color);
    }
  </style>
</error-alert>
